<%- include('../partials/header') %> 
<title>All Profiles</title>
</head>
<body>
    <h1>All Profiles</h1>
    <ul>
    <% for( let index = 0; index < profiles.length; index++ ) { %>
        
    <% } %>
    </ul>
<%- include('../partials/footer') %> 
